* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background: #FBDA61 linear-gradient(-45deg, rgb(35, 166, 213), rgb(35, 213, 171));
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}
